    p.thick {
        font-weight: bold;
        background-color: #DDA0DD;
    }
    h2 {
        color: #9932CC;
    }
    h3 {
        color: #BA55D3;
    }
    body {
        background-color: #967bb6;
    }
